/*
  NotFoundPage.module.css
*/

.NotFoundPage h1 {
  max-width:800px;
  margin:auto;
  text-align:center;
  color:#fff;
  font-size:80px;
}

.NotFoundPage h3 {
  max-width:800px;
  margin:auto;
  text-align:center;
  color:#fff;
}

.NotFoundPage a {
  font-size: 14px;
  margin-bottom: 25px;
  color: var(--green);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  margin-top: -5px;
  text-decoration:none;
}